<html>
  <head>
    <title> Tom's Portfolio </title>
  </head>
  <body>
    <div>
        <div>
            I am <%= person.firstName %> <%= person.lastName %>
          </div>
    </div>
  </body>
</html>