<html>
  <head>
    <% include ./partials/head %>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" type="text/css" href="../public/styles/style.css" crossorigin="anonymous"/> -->
    <title>Andrew's Portfolio</title>
  </head>
  <header>
    <% include ./partials/header %>
  </header>
  <body>
    <div class="container">
        <div id="banner" style="padding-top: 20px; text-align: center; height: 100px; font-size: xx-large"><h1>Lead by Design</h1></div>
      <div>
        <div class="card mb-3" id="image_card">
          <!-- <img src="http://www.andrewjthomsen.com/wp-content/uploads/2019/06/section-me1-1-1024x576.jpg" class="card-img-top" alt="..."> -->
          <img
            src="http://www.andrewjthomsen.com/wp-content/uploads/2015/01/fVSwTG05QIaE9FN7tLQ5_IMG_1122-1024x683.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Full stack web developer with a background in entrepreneurship and sales management. 
                Grew up in Washington and moved to Del Mar, California in 1999. Changed careers to working in tech
              to pursue full-stack web development. 
              Described as results oriented, having excellent soft skills, and as a great team player.
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
      <div class="projects-div">
        <div class="wrapper" >
          <div class="project-section" style="text-align: center;">
            <h2 class="project-h2">Projects</h2>
          </div>










          <!-- <div class="row"> -->
            <!-- <div class="col">
              <div class="card" style="width: 30rem; margin-bottom: 10rem;">
                <img
                  src="http://www.andrewjthomsen.com/wp-content/uploads/2019/06/Skunkworks-Chat-1024x423.png"
                  class="card-img-top"
                  style="height:30rem"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                   Socket.io powered chat room application with CRUD functionality with 
                   user authentication and built on a template engine. Leveraged ORM to avoid costly SQL queries and improved performance.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 30rem; margin-bottom: 10rem;">
                <img
                  src="http://www.andrewjthomsen.com/wp-content/uploads/2019/06/Capturesupervisor-1024x550.png"
                  class="card-img-top"
                  style="height:30rem"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    Command line based storefront application with customer, manager, and supervisor level accounts.
                    Built with Node and utilizes MYSQL for data storage. 
 
                  </p>
                </div>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <div class="card" style="width: 30rem; margin-bottom: 10rem;">
                <img
                  src="http://www.andrewjthomsen.com/wp-content/uploads/2019/06/Affluent-Budgeting-App-1024x462.jpg"
                  class="card-img-top"
                  style="height:30rem"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    React application that helps users budget their money by tracking their expenses with MongoDB backend 
                    Wrote backend with React function components, Node, and JavaScript 
                     Utilized Material UI components for rapid front end development 
                  </p>
                </div>
              </div>
            </div> -->
            <!-- <div class="col">
              <div class="card" style="width: 30rem; margin-bottom: 10rem;">
                <img
                  src="http://www.andrewjthomsen.com/wp-content/uploads/2019/06/bandsInTown-concert-this-command-snapshot.png"
                  class="card-img-top"
                  style="height:30rem"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="w-100"></div> -->
            <!-- <div class="col">
              <div class="card" style="width: 30rem; margin-bottom: 10rem;">
                <img
                  src="http://www.andrewjthomsen.com/wp-content/uploads/2019/06/CaptureBerniesBurgers-1024x667.png"
                  class="card-img-top"
                  style="height:30rem"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div> -->
            <!-- <div class="col">
               <div class="card" style="width: 30rem; margin-bottom: 10rem;">
                <img
                  src="http://www.andrewjthomsen.com/wp-content/uploads/2019/06/Hangman-App-1024x293.png"
                  class="card-img-top"
                  style="height:30rem"
                  alt="..."
                /> -->
                <!-- <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div> --> 
          <!-- </div> -->
          <!-- <div class="container" id="contact-info">
              <div class="resume-info"><p><form method="get" action="./assets/images/Resume1.pdf">
                  <button type="submit">Download!</button>
               </form></p>
              </div>
          <div class="row">
              <div class="gitHub-info col-md-4" style="max-height: 50px; max-width: 50px; float: left;"><img src="" class="gitHubLogo"><p><a href="https://github.com/andrewjthomsen">https://github.com/andrewjthomsen</a></p></div>
              <div class="linkedIn-info col-md-4" style="max-height: 50px; max-width: 50px; float: left;"><img style="max-height: 50px; max-width: 50px; float: left;" src="http://cdn.onlinewebfonts.com/svg/img_44723.png" class="linkedInLogo"><p><a href="www.linkedin.com/in/andrew-thomsen">www.linkedin.com/in/andrew-thomsen</a></p></div>
              <div class="email-info col-md-4" style="max-height: 50px; max-width: 50px; float: left;"><img style="max-height: 50px; max-width: 50px; float: left;" src="http://www.indiana.edu/~iusail/images/email-logo.png" class="emailLogo"><p><a href="mailto:athomsen2639@gmail.com">athomsen2639@gmail.com</a></p></div>
            </div>
            <br />
          </div> -->
          <div class="container">
              <div class="row">
                <div class="col">
                    <div class="card" style="width: 30rem; margin-bottom: 10rem; margin: 10px;">
                        <img
                          src="http://www.andrewjthomsen.com/wp-content/uploads/2019/06/Capturesupervisor-1024x550.png"
                          class="card-img-top"
                          style="height:30rem"
                          alt="..."
                        /> 
                        <div class="card-body">
                          <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 16px;" class="card-text">
                              Command line based storefront application with customer, manager, and supervisor level accounts.
                              Built with Node and utilizes MYSQL for data storage.
                          </p>
                        </div>
                      </div>
                </div>
                <div class="col order-12">
                    <div class="card" style="width: 30rem; margin-bottom: 10rem; margin: 10px;">
                        <img
                          src="http://www.andrewjthomsen.com/wp-content/uploads/2019/06/Skunkworks-Chat-1024x423.png"
                          class="card-img-top"
                          style="height:30rem"
                          alt="..."
                        /> 
                        <div class="card-body">
                          <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 16px;" class="card-text">
                              Socket.io powered chat room application with CRUD functionality with 
                              user authentication and built on a template engine. Leveraged ORM to avoid costly SQL queries and improved performance.
                          </p>
                        </div>
                      </div>
                </div>
                <div class="col order-1">
                    <div class="card" style="width: 30rem; margin-bottom: 10rem; margin: 10px">
                        <img
                          src="http://www.andrewjthomsen.com/wp-content/uploads/2019/06/Affluent-Budgeting-App-1024x462.jpg"
                          class="card-img-top"
                          style="height:30rem"
                          alt="..."
                        /> 
                        <div class="card-body">
                          <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 16px;" class="card-text">
                              React application that helps users budget their money by tracking their expenses with MongoDB backend 
                              Wrote backend with React function components, Node, and JavaScript 
                               Utilized Material UI components for rapid front end development 
                          </p>
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
